<%- include('partials/header') %>
<a href="/">Home</a>
<form action="/posts" method="POST">
  Title: <input type="text" name="title" id="title"><br>
  Content: <input type="text" name="content" id="content">
  <button type="submit">Submit</button>
</form>
<%- include('partials/footer') %>