<div style="border: 1px solid gray; padding: 10px;">
  <a href="/">Home</a>
  <a href="/blogposts/<%= blogPost._id %>">Edit</a>
  <h4><%= blogPost.title %></h4>
  <p><%= blogPost.content %></p>
  <p>#<%= blogPost.view_count %> views</p>
</div>